.modal-header
  button.close(type="button", data-dismiss="modal") &#215;
  h3 2009 Invitational
.modal-body
  p
    | The 6th Remley Invitational was held on June 13th, 2009, in Wickliffe, OH.  The format was a 4-team round-robin, with tie-breakers in place should they be necessary.  Each match was best-of-3 games.  The teams and their colors were as follows:
  p Orange: Team Remely/Ghinga
  p Blue: Team Galanis
  p Green: Team Lewis/Growdon
  p White: Team Remley/Epling
  p Below are the final standings and individual match statistics:
  table.table.table-bordered.modal-standings
    thead
      tr
        td Record
        td Team
    tbody
      tr
        td 3-0
        td Remley/Epling
      tr
        td 2-1
        td Remely/Ghinga
      tr
        td 1-2
        td Lewis/Growdon
      tr
        td 0-3
        td Team Galanis
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 1
      td
        b Remely/Ghinga def. Lewis/Growdon
    tr
      td Game 1
      td 15 - 11 : Remely/Ghinga
    tr
      td Game 2
      td 15 - 3  : Remely/Ghinga
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 2
      td
        b Remley/Epling def. Team Galanis
    tr
      td Game 1
      td 15 - 1 : Remley/Epling
    tr
      td Game 2
      td 15 - 6  : Remley/Epling
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 3
      td
        b Lewis/Growdon def. Team Galanis
    tr
      td Game 1
      td 15 - 8 : Lewis/Growdon
    tr
      td Game 2
      td 15 - 12  : Lewis/Growdon
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 4
      td
        b Remley/Epling def. Remely/Ghinga
    tr
      td Game 1
      td 15 - 1 : Remley/Epling
    tr
      td Game 2
      td 15 - 4  : Remley/Epling
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 5
      td
        b Remley/Epling def. Lewis/Growdon
    tr
      td Game 1
      td 15 - 2 : Remley/Epling
    tr
      td Game 2
      td 15 - 1  : Remley/Epling
  hr
  table.table.table-bordered.modal-game-summary
    tr
      td
        b Match 6
      td
        b Remely/Ghinga def. Team Galanis
    tr
      td Game 1
      td 15 - 0 : Remely/Ghinga
    tr
      td Game 2
      td 15 - 5  : Remely/Ghinga
.modal-footer
  a.btn(href="#", data-dismiss="modal") Close
