article
  h1.strokeh1 2014 Remley Invitational
  h2
    | June 2014 (Date TBA)
    h3
      | Location: TBA
      .divider_line
      #listtimes.bick
        p 11:00 - Opening Ceremonies
        p 11:30 - Seedings/ Draw Announced
        p 12:00 - Tournament Begins
        p 5:00 - Championship Match
        p 8:00 - Championship Gala Begins
        p 9:00 - Remling Cup Ceremony
.footnote * All times are approximate EDT
