h2 Click on a year to view a summary
#yearlycontainer
  table.table.table-bordered.table-striped
    thead#yearlyresults
      tr
        td#yearheader Year
        td#champsheader Champions
        td#runnerupheader Runners-up
    tbody
      tr.resultset
        td.yearnum 2009
        td.champname Remley/Epling
        td.runnerupname Remely/Ghinga
      tr.resultset
        td.yearnum 2004
        td.champname Remley/Epling
        td.runnerupname Triplett/Mozik
      tr.resultset
        td.yearnum 2003
        td.champname Remley/Epling
        td.runnerupname Cole/Cole
      tr.resultset
        td.yearnum 2002
        td.champname Remley/Epling
        td.runnerupname Lewis/Cole
      tr.resultset
        td.yearnum 2001
        td.champname Remley/Epling
        td.runnerupname Cole/Cole
      tr.resultset
        td.yearnum 2000
        td.champname Remley/Epling
        td.runnerupname Lewis/?
#result-container
